    :root {
  --color-gray: #18191F;
  --color-green: #4CAF4F;
  --color-dark-gray: #4D4D4D;
  --color-silver: #F5F7FA;
  --color-white: #FFFFFF;
  --color-black:#263238;
  
  --fuente-principal: 'Inter', sans-serif;
  --tamaño-texto: 16px;
  --tamaño-titulo: 36x;
  
    }
body {
    padding: 0px;
    margin: 0px;    
    font-family: var(--fuente-principal);
    font-size: var(--tamaño-texto);
    color: var(--color-gray);
    background-color: var(--color-white);
}
header {
        color: var(--color-gris);
        margin-top: 0px;

        max-height: 250px;
        min-height: 84px;
        padding:  15px;
        padding-right:50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background:var(--color-silver);
       
        button.login{ 
            max-width: 80px;
            height: 40px;
            border: none;
            padding: 5px;
            margin: 10px;
            background-color: transparent;
            color: var(--color-green);
        }
        button.sign_up{
            max-width: 90px;
            min-width: 80px;
            height: 40px;
            border-radius: 6px;
            border: none;
            padding: 5px;
            margin: 10px;
            background-color:var(--color-green) ;
            color: var(--color-white) ;
        }
         li{
            color: var(--color-gray);
            font-family: var(--fuente-principal);
        }
    .links { 
        display: flex;
        align-content: center;
        gap: 20px;
        list-style: none;
        margin: 50px;
        font-size: var(--tamaño-texto);
        cursor: pointer;    
}
}
section.hero {
        background-color: var(--color-silver);
        width: 100%;
        max-height: 1000px;
        min-height: 200px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        h1{
        color: var(--color-gray); 
        margin: 0px;
    }
    
    h1.hero_h1,h4{
         color: var(--color-green);
         margin: 0;
         padding: 0;
    }.tesla-img{
        margin: 10%;
    } 

        }
        
    .hero-text {
        padding-left: 50px;
        flex: 1;
        max-width: 45%;
        min-width: 300px;
    }

    .hero-text p {
    
        color: var(--color-gray);
        font-size: var(--tamaño-texto);
    }
  .btn {
        position: sticky;
        margin-top: 25px;
        margin-left: 25px;
        padding: 12px 40px;
        border: none;
        border-radius: 4px;
        background: var(--color-green);
        color: var(--color-white);
        font-size: 14px;
        margin-bottom: 32px;
        cursor: pointer;
        align-self: center;
        justify-self: center;
    }
figure.dots{
    position: absolute;
    top:57% }
.our-clients{
    margin: 0;
    padding: 20px;
    color: var(--color-gray);
    text-align: center;
    
    h1{
        
        flex-wrap: wrap;
        margin: 0;
        padding: 2px;        
    }
    p{
        padding: 2x;
        font-size: var(--tamaño-texto);    
    }
    
}
    .brands {

        min-height:80px ;
        max-height:350px;
        padding: 24px ;
        background: var(--color-white);
        display: flex;
        flex-wrap: wrap;
        gap :5%;
        justify-content: center;
        align-items: center;
    }

    .brand-logo {
        margin: 20px;
        gap: 25px;
        font-weight: 700;
        color: #fff;
    }

    .brand-logo img {
        height: 48px;
        width: 48px;
        height: 24px;
        width: auto;
    }
    .carts{
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: 33% 33% 33%;
        align-content: center;
        justify-content: center;   
    }
    .cart{
        max-width:  250px; 
        min-width: 150px;
        }

section.unlock{
    background-color: var(--color-white);
        
        width: 100%;
        max-height: 1000px;
        min-height: 400px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        h1{
        color: var(--color-gray); 
        margin: 0;
    }
   
        
    .unlock-text {
        flex: 1;
        max-width: 50%;
        min-width: 300px;
    }

    .unlock-text p {
        margin-top:  35px;
        margin-bottom: 35px;
        color: var(--color-gray);
        font-size: var(--tamaño-texto);
    }
  .btn {
        margin-top: 25px;
        padding: 12px 40px;
        border: none;
        border-radius: 4px;
        background: var(--color-green);
        color: var(--color-white);
        font-size: 14px;
        margin-bottom: 32px;
        cursor: pointer;
    }}
.Achievements{
background-color: var(--color-silver);
display: flex;
flex-wrap: wrap;
gap: 20%;
align-items: center;
justify-content: center;
padding: 20px;
h1,p{
    margin: 0;
}
h1.hero_h1{
         color: var(--color-green);
         margin: 0;
         padding: 0;
         
        }

.counts{
    margin: 50px;
    gap: 25px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-self: center;
    justify-self: center;
}
}

.brands-customers {
        min-height:80px ;
        max-height:350px;
        padding: 24px ;
        background: var(--color-silver);
        display: flex;
        flex-wrap: wrap;
        gap :5%;
        justify-content: center;
        align-items: center;
    }
    .brand-customerslogo {
        margin: 20px;
        gap: 25px;
        font-weight: 700;
        color: #fff;
    }

    .brand-customers-logo img {
        height: 40px;
        width: 40px;
        height: 24px;
        width: auto;
    }
    .updates{
       width: auto;
        padding: 25px;
        text-align: center;
        justify-items: center;
        .text-updates{
            text-align: center;
            align-self: center;
            box-sizing: border-box;            
            margin: 15px;
            padding: 15px;

        }
            }
            
        
    
.update{
    gap: 25px;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;

.carts-update{
    justify-self: center;
    
.cart-update{
        position: sticky;
        margin: 15px;
        padding: 20px;
        z-index: 2;
        margin-top: -20%;
        justify-self: center;
        align-self: center;
        border-radius: 8px;
        background-color: var(--color-silver);
        height: 120px;
        width: 310px;
    }
    a{
        color: var(--color-green);
    }
}
}
img.img-update{
    width: 368px;
    height: 286px;
    z-index: 1;
    
 }
  footer {
    background:var(--color-black);
    margin-top: -20px;
}



.footer-content {
    padding-top: 100px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    padding: 0 100px 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.link-column {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.link-column.brand {
    max-width: 250px;
}

.link-column h2 {
    color: var(--color-silver);
    font-size: 33px;
    font-weight: 900;
    margin: 0 0 10px;
}

.link-column h4 {
    color: var(--color-silver);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 0;
}

.link-column p {
    color: var(--color-silver);
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}

.link-column ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link-column ul li {
    color: var(--color-silver);
    
    font-size: 16px;
}

.social-icons {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.social-icons span {
    width: 35px;
    height: 35px;
    border: 1px solid --color-dark-gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.suscription{
    h3{
        color: var(--color-silver);
    }
    input{
        width: 255px;
        height: 40px;
        margin: 10px;
        color: var(--color-silver) ;
        background-color: #ffffff2c;
        border: 1px solid var(--color-dark-gray);
        border-radius: 8px ;
    }
    .subscribe-btn{
        width: 240px;
        height: 40px;
        margin: 10px;
        color: var(--color-silver) ;
        background-color: var(--color-dark-gray);
        border: 1px solid var(--color-dark-gray);
        border-radius: 8px ;
    }
}